<%- include('partials/head.ejs') %>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <div class="border rounded-lg mt-10 bg-white p-10">
    <div class="flex items-center justify-between gap-5 flex-wrap">
      <h2 class="font-medium text-lg">Edit Product</h2>
    </div>

    <div class="mt-10">
      <form action="/edit-product/<%= messages?.id %>" method="post" class="space-y-6">
        <div class="grid sm:grid-cols-2 gap-8">
          <div>
            <label
              for="description"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Description</label
            >
            <div class="mt-2">
              <textarea
                id="description"
                name="description"
                type="text"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              ><%= messages?.description %></textarea>
            </div>

            <% if (messages?.errors) { %>
            <p class="text-red-400 text-sm font-medium mt-4">
              <%= JSON.parse(messages?.errors)?.description %>
            </p>

            <% } %>
          </div>


          <div>
            <label
              for="pack"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Pack*</label
            >
            <div class="mt-2">
              <input
                id="pack"
                name="pack"
                type="number"
                value="<%= messages?.pack %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 outline-none px-4"
              />
            </div>

            <% if (messages?.errors) { %>
            <p class="text-red-400 text-sm font-medium mt-4">
              <%= JSON.parse(messages?.errors)?.pack %>
            </p>

            <% } %>
          </div>
  
          <div>
              <label
                for="price"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Base Unit Price*</label
              >
            <div class="mt-2">
              <input
                id="price"
                name="price"
                type="text"
                value="<%= messages?.price %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>

            <% if (messages?.errors) { %>
            <p class="text-red-400 text-sm font-medium mt-4">
              <%= JSON.parse(messages?.errors)?.price %>
            </p>

            <% } %>
          </div>
  
          <div>
            <label
              for="wc-code"
              class="block text-sm font-medium leading-6 text-gray-900"
              >WC Code*</label
            >
            <div class="mt-2">
              <input
                id="wc-code"
                name="wcCode"
                type="text"
                value="<%= messages?.wcCode %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>

            <% if (messages?.errors) { %>
            <p class="text-red-400 text-sm font-medium mt-4">
              <%= JSON.parse(messages?.errors)?.wcCode %>
            </p>

            <% } %>
          </div>
  
          <div>
            <label
              for="box-code"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Box Code</label
            >
            <div class="mt-2">
              <input
                id="box-code"
                name="boxCode"
                type="text"
                value="<%= messages?.boxCode %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>
          </div>

          <div>
            <label
              for="ti"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Ti*</label
            >
            <div class="mt-2">
              <input
                id="ti"
                name="ti"
                type="number"
                value="<%= messages?.ti %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>

            <% if (messages?.errors) { %>
            <p class="text-red-400 text-sm font-medium mt-4">
              <%= JSON.parse(messages?.errors)?.ti %>
            </p>

            <% } %>
          </div>

          <div>
            <label
              for="hi"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Hi*</label
            >
            <div class="mt-2">
              <input
                id="hi"
                name="hi"
                type="number"
                value="<%= messages?.hi %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>

            <% if (messages?.errors) { %>
            <p class="text-red-400 text-sm font-medium mt-4">
              <%= JSON.parse(messages?.errors)?.hi %>
            </p>

            <% } %>
          </div>

          <div>
            <label
              for="upc"
              class="block text-sm font-medium leading-6 text-gray-900"
              >UPC</label
            >
            <div class="mt-2">
              <input
                id="upc"
                name="upc"
                type="text"
                value="<%= messages?.upc %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>
          </div>

          <div>
            <label
              for="image"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Product Image</label
            >
            <div class="mt-2">
              <input
                id="image"
                name="image"
                type="url"
                value="<%= messages?.image %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>
          </div>
          

          <div>
            <label
              for="tag1"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Tag 1</label
            >
            <div class="mt-2">
              <input
                id="tag1"
                name="tag1"
                type="text"
                value="<%= messages?.tag1 %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>
          </div>

          <div>
            <label
              for="tag2"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Tag 2</label
            >
            <div class="mt-2">
              <input
                id="tag2"
                name="tag2"
                type="text"
                value="<%= messages?.tag2 %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 outline-none"
              />
            </div>
          </div>

        </div>

        <div>
          <button
            type="submit"
            class="flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Update Product
          </button>
        </div>
      </form>
    </div>
  </div>
  
</div>

<%- include('partials/foot.ejs') %>
</body>
</html>