<%- include('partials/head.ejs') %>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="border rounded-lg mt-10 bg-white p-10">
      <div class="flex items-center justify-between gap-5 flex-wrap">
        <h2 class="font-medium text-lg">Products</h2>

        <div class="flex items-center gap-4">
        <a href="/add-product" class="rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add Product</a>

        <form action="/import-products" method="post" enctype="multipart/form-data">
          <input type="file" id="file" name="file" class="hidden" accept=".xlsx,.xls">
          <label for="file" class="rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Import Products</label>
          <button class="rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Upload</button>
      </form>
      </div>
      </div>

      <div class="mt-10 overflow-auto">
        <table class="w-full" style="min-width: 800px;">
          <thead>
            <th class="font-medium pb-4 border-b text-left">#</th>
            <th class="font-medium pb-4 border-b text-left">Description</th>
            <th class="font-medium pb-4 border-b text-left">Image</th>
            <th class="font-medium pb-4 border-b text-left">Pack</th>
            <th class="font-medium pb-4 border-b text-left">Unit</th>
            <th class="font-medium pb-4 border-b text-left">Code</th>
            <th class="font-medium pb-4 border-b text-left">TI</th>
            <th class="font-medium pb-4 border-b text-left">HI</th>
            <th class="font-medium pb-4 border-b text-left">Cases Per Pallet</th>
            <th class="font-medium pb-4 border-b text-left">Action</th>
          </thead>

          <tbody>
            <% if (products) { %>
              <% products?.forEach((product, idx) => { %>

            <tr>
              <td class="py-4 border-b"><%= idx + 1 %></td>
              <td class="py-4 border-b"><%= product?.description %></td>
              <td class="py-4 border-b font-medium">
                <img src="<%= product?.image %>" class="w-14 rounded-md" alt="">
              </td>
              <td class="py-4 border-b"><%= product?.pack %></td>
              <td class="py-4 border-b">$<%= product?.price %></td>
              <td class="py-4 border-b"><%= product?.boxCode %></td>
              <td class="py-4 border-b"><%= product?.ti %></td>
              <td class="py-4 border-b"><%= product?.hi %></td>
              <td class="py-4 border-b"><%= Number(product?.ti) * Number(product?.hi) %></td>
              <td class="py-4 border-b flex items-center gap-4 min-h-[100px]">
                <a href="/edit-product/<%= product?.id %>" class="bg-indigo-600 py-2 px-4 rounded-md text-white outline-none transition-all hover:bg-indigo-500 text-sm">Edit</a>
                <button class="bg-red-400 py-2 px-4 rounded-md text-white outline-none transition-all hover:bg-red-500 text-sm" onclick="deleteProduct(this)" data="<%= product?.id %>">Delete</button>
              </td>
            </tr>
            
            <% }) } %>

          </tbody>
        </table>

        <% if (products?.length === 0) { %>
          <p class="mt-4 text-center text-lg">No Product Found! Please add new product.</p>
        <% } %>
      </div>
    </div>
    
</div>
   
</body>
</html>
<%- include('partials/foot.ejs') %>